<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="60490polApki.Next-Player" Publisher="CN=EFEE17C1-DC2A-4553-8CE6-82B55CBC72FE" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="5709a693-517f-4619-9942-4d8a3e15c758" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Next-Player</DisplayName>
    <PublisherDisplayName>polApki</PublisherDisplayName>
    <Logo>Assets\Visual Assets\StoreLogo\Store3.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="NextPlayerUWP.App">
      <uap:VisualElements DisplayName="Next-Player" Square150x150Logo="Assets\Visual Assets\Square150\Medium3.png" Square44x44Logo="Assets\Visual Assets\Square44\Icon3.png" Description="Next-Player - music player for Windows 10." BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Visual Assets\Wide310\Wide3.png" Square71x71Logo="Assets\Visual Assets\Square71\Small3.png" ShortName="Next-Player">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\Visual Assets\SplashScreen\Splash3.png" BackgroundColor="transparent" />
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="next-player-fa-name">
            <uap:DisplayName>Next-Player Music Files</uap:DisplayName>
            <uap:InfoTip>Info tip music files</uap:InfoTip>
            <uap:SupportedFileTypes>
              <uap:FileType>.mp3</uap:FileType>
              <uap:FileType>.wma</uap:FileType>
            </uap:SupportedFileTypes>
          </uap:FileTypeAssociation>
        </uap:Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="NextPlayerUWPBackgroundAudioPlayer.BackgroundAudioTask">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="musicLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="removableStorage" />
  </Capabilities>
</Package>